<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <title>LEAF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="icon.png">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <script type="text/JavaScript" th:src="@{js/main.js}"></script>
    <script type="text/JavaScript" th:src="@{js/jquery-3.6.1.min.js}"></script>
    <script type="text/JavaScript" th:src="@{js/admin.js}"></script>
</head>
<script th:inline="javascript">
</script>
<body>
<h2>LEAF MANAGER</h2>
<span>LeafName:</span>
<input id="leaf-textbox" type="text">
<button id="find-leaf-btn" type="button" onclick="findLeaf();">Find</button>
<button id="create-leaf-btn" type="button" onclick="createLeaf();">Create</button>
<button id="delete-leaf-btn" type="button" onclick="deleteLeaf();">Delete</button>
<br><br>
<table>
    <tbody id="leafTBody">
    </tbody>
</table>
<hr>
<span>UserName:</span>
<input id="user-textbox" type="text">
<button id="find-user-btn" type="button" onclick="findUser();">Find</button>
<button id="create-user-btn" type="button" onclick="createUser();">Create</button>
<button id="delete-user-btn" type="button" onclick="deleteUser();">Delete</button>
<br><br>
<table>
    <tbody id="userTBody">
    </tbody>
</table>
<span id="manager-console" type="text">123</span>
</body>
</html>